{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "transform-async-to-generator",
    "transform-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-export-extensions",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
