.module {
  width: 400px;
  height: 500px;
  background-color: red;
  padding: 20px;
}

.flex {
  display: flex;
}

.text {
  font-size: 20px;
}

.top {
  width: 100%;
  height: 300px;
  background: blue;

  & .text {
    font-size: 20px;
  }
}

/** ProductList **/

.section-wrap {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  padding: 0 1rem;
  text-align: center;
  width: 100%;

  & .product {
    display: flex;
    flex-flow: row wrap;
  }
}
